<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <title>TEST</title>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>-->

</head>
<body>
<h1>test</h1>

    <script type="text/ng-template" id="templates/index.html">
        <h1>Agents</h1>
        <h3>{{message}}</h3>
    </script>
    <script type="text/ng-template" id="templates/indexDoc.html">
        <h1>Documents</h1>
        <h3>{{message}}</h3>
    </script>

    <a href="/welcome">Weclome</a>
    <a href="/agents">Agents</a>
    <a href="/documents">Documents</a>

    <!--<div ng-view></div>-->

    <script src="js/myApp.js"></script>

</body>
</html>