<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>-->
</head>
<body ng-controller="WelcomeController">
    <h1>Welcome !!!</h1>
    <!--<h3>{{message}}</h3>-->

    <!--<script type="text/ng-template" id="templates/welcome.html">-->
        <!--<h1>Welcome !!!</h1>-->
        <!--<h3>{{message}}</h3>-->
    <!--</script>-->
    <!--<script type="text/ng-template" id="templates/agents.html">-->
        <!--<h1>Agents</h1>-->
        <!--<h3>{{message}}</h3>-->
    <!--</script>-->
    <!--<script type="text/ng-template" id="templates/documents.html">-->
        <!--<h1>Documents</h1>-->
        <!--<h3>{{message}}</h3>-->
    <!--</script>-->

    <a href="/welcome">Welcome</a>
    <a href="/agents">Agents</a>
    <a href="/documents">Documents</a>
    <a href="/gridDocsOfDate">Таблица документов с выбором даты</a>
    <a href="/treeDocuments">TreeDocuments</a>

    <!--<div ng-view></div>-->
    <!--<script src="js/myApp.js"></script>-->

</body>
</html>